<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.AdminMapper">
	<sql id="baseInfo">
  		admin_name,admin_password,admin_login_num,login_ip,login_status,email,is_del,login_time,
  		action_list,nav_list,created_by,created_time,updated_by,updated_time
  	</sql>
  	
  	<!-- 增加管理员 -->
	<insert id="addAdmin" parameterType="com.entity.ShopAdmin">
		insert into shop_admin(<include refid="baseInfo"></include>) values(#{adminName},#{adminPassword},#{adminLoginNum},#{loginIp},#{loginStatus},#{email},
		#{isDel},#{loginTime},#{actionList},#{navList},#{createdBy},#{createdTime},#{updatedBy},#{updatedTime})
	</insert>
  	
  	<!-- 删除管理员 -->
  	<delete id="delAdmin" parameterType="integer">
  		delete from shop_admin where admin_id=#{adminId}
  	</delete>
  	
  	<!-- 逻辑删除管理员 -->
  	<update id="tombAdmin" parameterType="map">
  		update shop_admin set is_del=#{isDel} where admin_id=#{adminId}
  	</update>
  	
  	<!-- 修改管理员 -->
  	<update id="updateAdmin" parameterType="com.entity.ShopAdmin">
  		update shop_admin set admin_name=#{adminName},admin_password=#{adminPassword},admin_login_num=#{adminLoginNum},login_ip=#{loginIp},login_status=#{loginStatus},
  		email=#{email},is_del=#{isDel},login_time=#{loginTime},action_list=#{actionList},nav_list=#{navList},
  		updated_by=#{updatedBy},updated_time=#{updatedTime} where admin_id=#{adminId}
  	</update>
  	
  	<!-- 动态查询管理员 -->
  	<select id="findAdmin" resultMap="admin">
  		select admin_id,<include refid="baseInfo"></include> from shop_admin
  		<where>
  			<if test="adminId!=null">
  				admin_id=#{adminId}
  			</if>
  		</where>
  	</select>
  	
  	<resultMap id="admin" type="com.entity.ShopAdmin">
  		<id column="admin_id" property="adminId"/>
  		<result column="admin_name" property="adminName"/>
  		<result column="admin_password" property="adminPassword"/>
  		<result column="admin_login_num" property="adminLoginNum"/>
  		<result column="login_ip" property="loginIp"/>
  		<result column="login_status" property="loginStatus"/>
  		<result column="email" property="email"/>
  		<result column="is_del" property="isDel"/>
  		<result column="login_time" property="loginTime"/>
  		<result column="action_list" property="actionList"/>
  		<result column="nav_list" property="navList"/>
  		<result column="created_by" property="createdBy"/>
  		<result column="created_time" property="createdTime"/>
  		<result column="updated_by" property="updatedBy"/>
  		<result column="updated_time" property="updatedTime"/>
  	</resultMap>
  	
  	
</mapper>