<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RoleMenuMapper">

	<!-- 为角色授予权限 -->
	<insert id="addRoleMenu" parameterType="com.entity.ShopRoleMenu">
		insert into shop_role_menu(role_id,menu_id) values(#{roleId},#{menuId})
	</insert>
</mapper>